/*.btn{
	background-color: #ff6464;
	border-radius: 2px;
	height: 47px;
	font-weight: 500;
	font-size: 20px;
	line-height: 29/20*100% ;
	color:#fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0px 20px;
	transition:background-color 0.3s ease 0s;
	@media(min-width:992px){
		&:hover{
			background-color: #bb4949;
		}
	}
}*/
