@charset "UTF-8";
/* ------ПОДКЛОЮЧЕНИЕ-ICONS.SCSS--------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,700&display=swap);
@font-face {
  font-family: 'Banny Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Banny Round"), url("../../fonts/Banny-Round.woff") format("woff"); }

@font-face {
  font-family: 'Banny Bold';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../../fonts/Banny-BoldRound.woff") format("woff"); }

/* ------ШРИФТ-ПО-УМОЛЧАНИЮ--------------------------------------------------------- */
/* ------NULL-STYLE--------------------------------------------------------- */
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/* ------HEADER--------------------------------------------------------- */
/* --------------------------------------------------------------------- */
body {
  font-family: "Open Sans"; }
  body.lock {
    overflow: hidden; }

.container {
  max-width: 1300px;
  padding: 0px 10px;
  margin: 0px auto; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

/* ------HEADER--------------------------------------------------------- */
.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 0;
  margin: 0px; }
  .header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100px; }
  .header__logo {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }

.menu__body {
  padding: 0px 10px; }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu__list li {
    padding: 0px 25px; }
    .menu__list li:nth-child(4) {
      padding: 0px 150px 0px 47.5px; }
    .menu__list li:nth-child(5) {
      padding: 0px 47.5px 0px 150px; }

.menu__link {
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
  text-transform: uppercase; }

/*--------BURGER-----------------------------------
 display:block;
	@media(max-width:$md3+px){
		display:block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor:pointer;
		z-index:5;
		span{
			transition:all 0.3s ease 0s;
			top:calc(50%-1px);
			left: 0px;
			position:absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child{
				top:0px;
			}
			&:last-child{
				top:auto;
				bottom:0px;
			}
		}
		&._active{
			span{
				transform:scale(0);
				&:first-child{
					transform:rotate(-45deg);
					top:calc(50%-1px);
				}
				&:last-child{
					transform:rotate(45deg);
					bottom:calc(50%-1px);
				}
			}
		}
	} 
	------------------------------------------------*/
/*--------IMPORT---------------------------------------------------------*/
/*-------IBG Адаптивное изображение--------------------------------------*/
/*.ibg{
	position:relative;
		img{
		position:absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit:cover;
	}
}*/
/*-------ОБЩИЕ КЛАССЫ----------------------------------------------------*/
.title {
  font-size: 44px;
  font-weight: 700;
  color: #21243d;
  line-height: 136.36364%; }
  @media (max-width: 767.98px) {
    .title {
      font-size: 32px; } }

.text {
  font-size: 16px;
  line-height: 143.75%;
  color: #21243D; }

.title-posts {
  font-size: 22px; }
  @media (max-width: 767.98px) {
    .title-posts {
      text-align: center;
      font-size: 18px; } }

.btn {
  background-color: #ff6464;
  border-radius: 2px;
  height: 47px;
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 0px 20px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s; }
  @media (min-width: 992px) {
    .btn:hover {
      background-color: #bb4949; } }

._icon-fb:before {
  content: "\e900"; }

._icon-Group:before {
  content: "\e901"; }

._icon-insta:before {
  content: "\e902"; }

._icon-Linkedin:before {
  content: "\e903"; }

/* -----page------------------------------------------------------------ */
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

/* -----MAINSCREEN---------------------------------------------------------- */
.main-screen {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  position: relative; }
  .main-screen img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover; }

/*-----block-------------------------------------------------------------*/
/*-------block----------------------------------------------------*/
/* ------block--------------------------------------------------------- */
