/*-----Блок WORKS и отдельная страница------------------*/
.article {
	max-width: 700px;
	padding:0px 10px 30px;
	margin:0px auto;
	&__title {
		font-size: 34px;
		font-weight: 700;
		line-height: 50/34*100%;
		margin:0px 0px 30px 0px;
		@media(max-width:$md3+px){
			font-size: 30px;
		}
		
	}	

	&__info {
		display:flex;
		margin:0px 0px 20px 0px;
	}

	&__year {
		display: flex;
		justify-content: center;
		align-items: center;
		color:#fff;
		background: #FF7C7C;
		border-radius: 16px;
		height: 25px;
		padding:0px 10px;
		font-size: 18px;
		font-weight: 900;
	}

	&__category {
		align-self: center;
		font-size: 20px;
		line-height: 25/20*100%;
		margin:0px 0px 0px 25px;
		@media(max-width:$md3+px){
			font-size: 18px;
		}
	}

	&__text {
		p{
			@extend .text;			
			margin:0px 0px 20px 0px;
		}
		img{
			max-width: 100%;
			margin:0px 0px 20px 0px;
		}
	}
}
.text {
}
