/* ------ПОДКЛОЮЧЕНИЕ-ICONS.SCSS--------------------------------------------------------- */

// Подключение шрифтов.
// &display=swap&subset=cyrillic-ext
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,700&display=swap);

@font-face {
	font-family: 'Banny Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Banny Round'), url('../../fonts/Banny-Round.woff') format('woff');
	}
@font-face {
	font-family: 'Banny Bold';
	font-style: normal;
	font-weight: 700;
	src: local(''), url('../../fonts/Banny-BoldRound.woff') format('woff');
	}

/* ------ШРИФТ-ПО-УМОЛЧАНИЮ--------------------------------------------------------- */
$fontfamily:"Open Sans";

/* ------NULL-STYLE--------------------------------------------------------- */
@import "nullstyle.scss";
// <ПЕРЕМЕННЫЕ>
$minwidth:320px;
$mw:1440;
$mwCnt:1300;
$md1:$mwCnt+12;
$md2:991.98;
$md3:767.98;
$md4:479.98;
// </ПЕРЕМЕННЫЕ>
/* ------HEADER--------------------------------------------------------- */
header{
}


/* --------------------------------------------------------------------- */
body{
	font-family: $fontfamily;
	&.lock{
		overflow:hidden;
	}
}
.container{
	max-width: $mwCnt+px;
	padding:0px 10px;
	margin:0px auto;
}
.wrapper{
	width: 100%;
	min-height:100%;
	overflow:hidden;
	display:flex;
	flex-direction: column;
}

/* ------HEADER--------------------------------------------------------- */
@import "header.scss";


/*--------IMPORT---------------------------------------------------------*/
@import "ui.scss";
@import "forms.scss";
@import "footer.scss";
@import "icons.scss";
/* -----page------------------------------------------------------------ */
.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display:flex;
	flex-direction:column;
}
/* -----MAINSCREEN---------------------------------------------------------- */
.main-screen {
	flex:1 0 100%;
	position:relative;
		img{
			position:absolute;
			width:100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
}

/*-----block-------------------------------------------------------------*/

/*-------block----------------------------------------------------*/

/* ------block--------------------------------------------------------- */


